.cart {
    .tittle {
        margin: 15px 10px;
    }

    .summary {
        margin: 25px 15px;
        margin-bottom: 0px;
    }

    .pay {
        margin: 5px;
        color: rgb(4, 0, 255);
    }
}