.products {
    .list {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: auto;
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tittle {
        display: block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    }

    @media screen and (max-width:500px) {
        flex-direction: column;
    }
}