.product {
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;

    .description {
        display: flex;
        justify-content: space-between;
        color: rgb(78, 72, 19);
    }

    .price {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        .old-price {
            display: block;
            justify-content: center;
            margin: auto;
            color: rgb(255, 0, 0);
            text-decoration: line-through;
        }

        .new-price {
            display: block;
            justify-content: center;
            margin: auto;
            margin-left: 10px;
        }
    }

    .button {
        display: flex;
        justify-content: space-between;
    }

    >div>* {
        margin-bottom: 8px;
    }
}